<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
    <!-- Rails can detect a collection of Users and renders each: -->
    <%= render @users %>  
    <!-- Rails will automatically call a partial for each object, 
    using the name of the class of the object ("_user.html.erb" in 
    this case -->
</ul>

<%= will_paginate %>